*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Dhany e Wallyson*/
.header{
    width: 100%;
    display: flex;
    background-color: #222;        
  }

  
  .menu
  {
    margin-top: 10px;
    width: 70%;
    display: flex;
    float: left;
  
    
 
  }
  .menu__item
  {
    display: inline-block;   
    background-color: #333;
  }
 
  .menu__item:hover
  {
    background-color:#60B752;
  }
  .menu__item a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    width: 90px;
    height: auto;
    display: flex;   
    padding: 30px;
    text-align: center;
  }
  .logo{
    padding-top:10px;
    width: 20%;
    display: flex;
    float: right;  
    margin-right: 50px;
  }
  @media(min-width:800px){
    .logo{
      display: flex;
      
    }
  }
.about{
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 30px;

}
.about h1{
  padding-bottom: 20px;
}
.about__content{
  display: block;
  text-align: center;
  line-height: 20px;
}
.about__images{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
}
.about__notebook{
  background-color: #60B752;
  display:flex;
  flex-direction:column;
  width: 500px;
  height: 300px;

}


.cards{
    display: flex;
    width: 100%;
    justify-content: center;
}
.cards__section{
    background-color:#F6F6F6;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding:25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.title_mint{
    text-align: center;
    padding: 20px;
}
.title_mint h1{
    background-color: rgba(85, 198, 67, 0.92);
    font-size: 30px;
    font-style:bold;
    display: inline;
    padding: 10px;
    padding-left: 140px;
    padding-right: 140px;

}
.cards__content{
    width: 21.5%;
    background: #FFFFFF;
    border: 1px solid #60B752;
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
    padding: 30px;
    line-height: 25px;
    align-items: center;    
    align-content: center;
    margin: 20px;
}
.cards__content_image{
    padding-bottom: 10px;
    width: 80px;
    height: 80px;
}

.partners{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
  line-height: 25px;
}
.partners__image{
  line-height: 70px;
  padding: 10px;
  letter-spacing: 70px;
}
.footer{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  background-color: rgb(122, 122, 122);
  text-align: center;
}

