*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Dhany e Wallyson*/
.header{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: #222;        
  }

  
  .menu
  {
    margin-top: 10px;
    width: 70%;
    display: block;
    float: left;
    background-color: #333;
  }
  .menu__item
  {
    display: inline-block;    
  }
 
  .menu__item:hover
  {
    background-color:#60B752;
  }
  .menu__item a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    width: 100px;
    height: auto;
    display: inline-block;   
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .logo{
    width: 30%;
    display: block;
    float: right;
  }
  .logo img{
    width: 300px;
    display: block;
    margin-left: 0px;
    margin-right: 50px;
  }
  
  /*Menu lateral*/
  .checkmenu{
    display: none;
  }
  
  .barra_lateral{
    width: 300px;
    height: 100%;
    margin-top: 50px;
    position: absolute;
    transition: all .2s linear;
    background: #000;
    left: -300px;
  }
  .lmenu{          
      display:block;         
      float: none;
   }
  .lmenu__item
  { 
    width: 100%;
    display: block;
  }
  
  .lmenu__item a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    width: 100px;
    height: auto;
    display: inline-block;           
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
  }

  .lmenu__item:hover
  {
    background-color:#60B752;
  }
  .checkmenu:checked ~ .barra_lateral
  {          
    transform: translateX(300px);
  }
  .lheader{        
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color:rgba(8, 7, 7, 0.76);
  }
  .menuico {
    width: 70%;
    display: block;
    float: left;
    margin-bottom: 10px;
    padding: 10px;

  }
  .llogo
  {
    width: 30%;
    display: block;
    float: right;
    margin: 5px;       
    margin-right: 30px;
  }

  .llogo img{
    width: 50px;
    display: block;
    float: right;
  }

  /*Enquanto maior que 800px*/
  @media (min-width:800px){
    .lheader{
      display: none;
    }
    .menuico {
      display: none;
    }
    .llogo
    {
      display: none;
    }

    .llogo{
      display: none;
    }

    .barra_lateral{
      display: none;
    }
  }
  
  /*Enquanto menor que 800px*/
  @media (max-width:800px){
      .header{
        display: none;
      }
      .menu{
        display: none;
      }
      .menu__item
      { 
        display: none;
      }
      .logo{
        display: none;
      }
      .logo img{
        display: none;
      }
  }
/* parte que o manoel fez */

.img__desc{
    width: 100%;
    height: auto;
}
.desc__titulo_image-1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color:rgb(7, 6, 6);
    padding: 20px;
}
.desc__titulo_image{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
@media(max-width:600px){
    .desc__titulo_image{
        font-size: 15px;
    }
}

.desc__funcao{
    max-width: 1200px; 
    margin:auto;
    border-width: auto;
    border-color: rgb(170, 166, 166);
    border-top-color: rgb(252, 252, 252);
    border-style: solid; 
    padding: auto;   
    display: flex;
    flex-direction: column;
}
.desc__bgc_color{
    background-color: rgba(230, 231, 229, 0.979);
}


/* titulo DUAL BOOT */
 .desc__titulo_1{ 
    background-color: #60B752;
    font-size: 24px;
    color:rgb(253, 253, 253);
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: block;  
    text-align: right; 
    margin-left: auto;
    margin-right: 700px; 
    margin-top: 100px;
}
.desc__conteudo_1{
    flex-direction: row;
}
.desc__imagem_1{
    float: right;
    padding: auto;
    margin-top: 20px; 
    margin-left: 20px; 
    margin-right: 70px;
}

.desc__texto_1{
    float: left;
    text-align: left;
    font-size: 19px;
    width: 400px; 
    margin-top: 50px;
    margin-right: auto;
    margin-left: 70px;
    padding: auto;
    color: rgb(15, 13, 13);
}
@media(max-width:1000px){
    .desc__conteudo_1, .desc__imagem_1,.desc__titulo_1,.desc__texto_1{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
    }
}
@media(max-width:800px){
    .desc__conteudo_1, .desc__imagem_1,.desc__titulo_1,.desc__texto_1{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
    }
    .desc__texto_1{
        text-align: left;
        font-size: 15px;
    }
}
@media(max-width:600px){
    .desc__conteudo_1, .desc__imagem_1,.desc__titulo_1,.desc__texto_1{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .desc__texto_1{
        text-align: left;
        font-size: 15px;
    }
}
/* titulo Menu */
.desc__titulo_2{ 
    background-color: #60B752;
    font-size: 24px;
    color:rgb(253, 253, 253);
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: block;  
    text-align: right; 
    margin-left: auto;
    margin-right: 700px; 
    margin-top: 50px;
}
.desc__conteudo_2{
    flex-direction: row;
}
.desc__imagem_2{
    float: right;
    padding: auto;
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: 70px;
    margin-bottom: 50px;
}

.desc__texto_2{
    float: left;
    text-align: left;
    font-size: 19px;
    width: 350px; 
    margin-top: 90px;
    margin-right: 10px;
    margin-left: 70px;
    padding: auto;
    color: rgb(15, 13, 13);
}
@media(max-width:1000px){
    .desc__conteudo_2, .desc__imagem_2,.desc__titulo_2,.desc__texto_2{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
    }
}
@media(max-width:800px){
    .desc__conteudo_2, .desc__imagem_2,.desc__titulo_2,.desc__texto_2{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
    }
    .desc__texto_2{
        text-align: left;
        font-size: 15px;
    }
}
@media(max-width:600px){
    .desc__conteudo_2, .desc__imagem_2,.desc__titulo_2,.desc__texto_2{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .desc__texto_2{
        text-align: left;
        font-size: 15px;
    }
}

/* titulo TERMINAL */
.desc__titulo_3{ 
    background-color: #60B752;
    font-size: 24px;
    color:rgb(253, 253, 253);
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: block;    
    text-align: left; 
    margin-left: 700px;
    margin-right: auto; 
    margin-top: 100px;
      
}
.desc__conteudo_3{
    flex-direction: row;
}
.desc__imagem_3{
    float: left;
    padding: auto;
    margin-right: 500px;
    margin-left: 70px;
    margin-top: -200px;
    margin-bottom: 50px;
}
.desc__texto_3{
    float: right;
    text-align: left;
    font-size: 19px;
    width: 400px; 
    margin-top: 100px;
    margin-right: 70px; 
    padding: auto;
    color: rgb(15, 13, 13);
}
@media(max-width:1000px){
    .desc__conteudo_3, .desc__imagem_3,.desc__titulo_3,.desc__texto_3{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
    }
}
@media(max-width:800px){
    .desc__conteudo_3, .desc__imagem_3,.desc__titulo_3,.desc__texto_3{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
    }
    .desc__texto_3{
        text-align: left;
        font-size: 15px;
    }
}
@media(max-width:600px){
    .desc__conteudo_3, .desc__imagem_3,.desc__titulo_3,.desc__texto_3{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .desc__texto_3{
        text-align: left;
        font-size: 15px;
    }
}

/* titulo Gerenciador de aplicativos */
.desc__titulo_4{ 
    background-color: #60B752;
    font-size: 24px;
    color:rgb(253, 253, 253);
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: block;    
    text-align: left; 
    margin-left: 700px;
    margin-right: auto; 
    margin-top: 100px;
      
}
.desc__conteudo_4{
    flex-direction: row;
}
.desc__imagem_4{
    float: left;
    padding: auto;
    margin-right: 500px;
    margin-left: 70px;
    margin-top: -200px;
    margin-bottom: 50px;
}
.desc__texto_4{
    float: right;
    text-align: left;
    font-size: 19px;
    width: 400px; 
    margin-top: 150px;
    margin-right: 70px; 
    padding: auto;
    color: rgb(15, 13, 13);
}
@media(max-width:1000px){
    .desc__conteudo_4, .desc__imagem_4,.desc__titulo_4,.desc__texto_4{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
    }
}
@media(max-width:800px){
    .desc__conteudo_4, .desc__imagem_4,.desc__titulo_4,.desc__texto_4{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
        
    }
    .desc__texto_4{
        text-align: left;
        font-size: 15px;
    }
}
@media(max-width:600px){
    .desc__conteudo_4, .desc__imagem_4,.desc__titulo_4,.desc__texto_4{
        padding: 5px;
        margin: auto;
        width: auto; 
        margin-top: 10px;
        text-align: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .desc__texto_4{
        text-align: left;
        font-size: 15px;
    }
}
/* fim da parte Manoel*/


